# Configuración de Entorno Frontend (SportFlow)
VITE_API_BASE_URL=http://localhost:8080/api/v1

# GitHub OAuth 2.0
VITE_GITHUB_CLIENT_ID=Ov23lisRZCCGHj7BNSVt

# Google OAuth 2.0 (Obtenido desde Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=603064918591-evlh027lj39880khiu415ad508d18b06.apps.googleusercontent.com
